<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<style>
    table, th, td {border: black solid 1px}
</style>
<body>
<table>
    <tr>
        <th>Brand</th>
        <th>Name</th>
        <th>Speed</th>
    </tr>
    <tr th:each="car : ${cars}">
        <td th:text="${car.getBrand()}"></td>
        <td th:text="${car.getName()}"></td>
        <td th:text="${car.getSpeed()}"></td>
    </tr>
</table>
</body>
</html>